body.show .side {
    display: block;
}

.side {
    display: none;
    width: 18rem;
    background: #2d2d2d;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

@media (min-width: 50rem) {
    body.show {
        padding-left: 18rem;
    }
}