html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  z-index: 0;
  background: #ffffff;
  width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  background: none;
  padding: 0;
  outline: none;
  border: 0px;
}
[visited] {
  display: block;
}
.display {
  display: block !important;
}
@keyframes Gradient-transparency {
  0% {
    opacity: 0.15;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spaning {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loading {
  height: 100px;
  width: 100px;
  margin: auto;
  padding: 10px;
  clear: both;
}
#loading div {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-top: 4px black solid;
  border-bottom: 4px black solid;
  border-left: 4px transparent solid;
  border-right: 4px transparent solid;
  margin: auto;
  animation: spaning 1s infinite linear;
}
#load_error {
  text-align: center;
  padding: 20px 30px 30px;
  width: 160px;
  margin: auto;
  clear: both;
}
.sticky {
  background: #ffffff;
  z-index: 9;
  /* border-bottom: #000000 1px solid; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
}
.rotate {
  transform: rotate(45deg);
}
.match {
  color: #9999ff;
}
#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.6;
  background: #000000;
  transition: 1s;
}
#toTop {
  position: fixed;
  z-index: 9;
  top: 90vh;
  color: #ccc;
}
#toTop:hover {
  color: #000000;
}
#toTop svg {
  border: #eee 1px solid;
  border-radius: 100%;
  padding: 0.5em;
  background: #FFFFFF;
}
body {
  position: relative;
}
body header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: inline-block;
  background: #ffffff;
  width: 13em;
  margin: 0;
  transition: 0.7s;
}
body header section {
  padding: 0;
}
body header section .portrait {
  width: 5em;
  padding-top: 1.8em;
  margin: 0 auto;
}
body header section .portrait img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
body header section .signature {
  padding: 0 1em;
  font-size: 0.8em;
  color: #9999a1;
  text-align: center;
  width: auto;
}
body header nav {
  margin: auto;
  padding: 0.5em 0 0 0;
  text-align: center;
  border-top: #9c9c9c 1px solid;
}
body header nav .item {
  display: inline;
  color: #9c9c9c;
  font-size: 0.8em;
  padding: 0.5em 0.3em;
}
body header nav #search {
  padding: 0.5em 2em;
  font-size: 0.8em;
}
body header nav #search input {
  text-align: center;
  width: 100%;
}
body header aside {
  border-top: #9999a1 1px solid;
  font-size: 0.9em;
  padding: 0 1em;
  margin-top: 0.66em;
}
body header aside .head {
  position: relative;
  margin: 1.2em auto;
}
body header aside .head .more {
  position: absolute;
  top: 0;
  right: 0;
  height: 0.9em;
  width: 0.9em;
  transition: 0.5s transform;
  transform: rotate(-90deg);
}
body header aside .head .more .left-line,
body header aside .head .more .right-line {
  position: absolute;
  right: 0.45em;
  width: 2px;
  height: 2px;
  background: #000000;
  transition-delay: 0.5s;
  transition-duration: 1s;
}
body header aside .head .more .left-line {
  top: 0.1em;
}
body header aside .head .more .right-line {
  bottom: 0.1em;
}
body header aside .head .active {
  transform: rotate(0deg);
}
body header aside .head .active .left-line,
body header aside .head .active .right-line {
  width: 1em;
  height: 1px;
  right: 0.15em;
  background: #000000;
}
body header aside .head .active .left-line {
  top: 0.4em;
  transform: rotate(-45deg);
}
body header aside .head .active .right-line {
  bottom: 0.4em;
  transform: rotate(45deg);
}
body header aside .items {
  text-align: left;
}
body header aside .items .item .count {
  float: right;
}
body footer {
  text-align: center;
  padding: 20px;
  border-top: #000000 1px solid;
}
body footer p {
  font-size: 0.8em;
}
body footer #github {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-image: url("/static/image/github-black.png");
  background-size: 100%;
}
.tags,
.corpus {
  display: none;
}
#friends\27link .items {
  text-align: center;
}
@media (max-width: 767px) {
  #toTop {
    right: 2em;
  }
  body {
    font-size: 14px;
    background: #FFFFFF;
  }
  body header {
    position: relative;
    width: 100%;
  }
  body header section {
    position: relative;
    text-align: center;
  }
  body header section::after {
    content: "AberSheeran";
    position: relative;
    top: -3em;
    display: inline;
    font-weight: 400;
    font-size: 1.7em;
    font-family: 'Dancing Script', cursive;
    background-color: #FFFFFF;
    padding: 0 20px;
    margin: auto;
  }
  body header section .portrait {
    margin: auto;
    margin-bottom: 1.5em;
    width: 6em;
  }
  body header section .signature {
    padding: 2.7em 0 0 0;
    border-top: #000000 1px solid;
    font-family: 'Times New Roman', Times, serif;
  }
  body header nav {
    display: none;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    border-top: none;
  }
  body header nav .item {
    display: inline;
    color: #9c9c9c;
    font-size: 1em;
    padding: 0.5em 0.3em;
  }
  body header nav #search {
    padding: 0.5em 2.8em;
    font-size: 1em;
  }
  body header nav #search input {
    text-align: center;
    width: 100%;
  }
  body header aside {
    display: none;
    border-top: #eee 1px solid;
    font-size: 1em;
    max-width: 15em;
    margin: 0 auto;
    margin-top: 0.66em;
  }
  body header aside:last-of-type {
    border-bottom: #eee 1px solid;
  }
  body header footer {
    display: none;
    border: none;
  }
  body main #articles {
    position: relative;
  }
  body main #articles .date {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    background: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  body main #articles .single-year:first-of-type .year {
    margin-top: 0;
  }
  body main #articles .single-year .year {
    width: 100%;
    margin: 1em 0;
    font-size: 1.8em;
    text-align: center;
  }
  body main #articles .single-year .year::after,
  body main #articles .single-year .year::before {
    display: inline-block;
    width: 40px;
    content: "-";
    color: #ccc;
  }
  body main #articles .single-year .year span {
    margin: 0 auto;
  }
  body main #articles .single-year .single-month {
    position: relative;
    height: auto;
  }
  body main #articles .single-year .single-month .month {
    display: inline-block;
    vertical-align: top;
    position: sticky;
    padding: 0.4em 0.3em;
    margin-top: 0em;
    width: 2.5em;
    text-align: center;
    height: 100%;
    border-left: #000000 2px solid;
  }
  body main #articles .single-year .single-month .articles {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 4.2em);
  }
  body main #articles article {
    display: inline-block;
    margin: 0.4em 0;
    padding: 0 0.8em;
    background: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
  }
  body main #articles article .title {
    font-size: 1.3em;
    padding-bottom: 0.3em;
  }
  body main #articles article .summary {
    font-size: 0.9em;
    line-height: 1.3;
    color: #5d5d5d;
    padding-bottom: 0.5em;
  }
  body main #articles article .corpus {
    display: inline-block;
  }
  body main #articles article .corpus a {
    color: #5d5d5d;
  }
  body main #articles article .corpus::before {
    content: "收录于";
  }
  body main #articles article time {
    display: none;
    text-align: end;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #toTop {
    left: 3em;
  }
  body {
    font-size: 17px;
  }
  body header {
    left: 1.5em;
    width: 12em;
  }
  body main {
    position: relative;
    margin: 0 1.5em 2em 15em;
    width: calc(100% - 17em);
  }
  body main #articles {
    position: relative;
    left: 0;
    transition: 1s;
  }
  body main #articles .date {
    display: none;
  }
  body main #articles article {
    padding: 1.25em 0.5em 2em 6em;
    color: #000000;
    position: relative;
    transition: 1s;
    border-left: #eee 3px solid;
  }
  body main #articles article::before {
    position: absolute;
    left: -0.6em;
    top: 1.7em;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    background: #eee;
    transition: 1s;
  }
  body main #articles article .title {
    font-size: 1.3em;
  }
  body main #articles article .summary {
    font-size: 0.8em;
    line-height: 1.5;
    border-top: #ccc 1px solid;
    padding-top: 3px;
    margin-bottom: 7px;
  }
  body main #articles article time {
    float: right;
    position: absolute;
    left: 0.7em;
    top: 2em;
    font-size: 0.8em;
    color: #968c8c;
  }
  body footer {
    padding: 1em;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  body header aside {
    border-top: #9999a1 1px solid;
    font-size: 0.9em;
    padding: 0 1em;
    margin-top: 0.66em;
  }
  body header aside .items .item {
    position: relative;
  }
  body header aside .items .item::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -2em;
    top: 0;
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    margin: 0;
    opacity: 0;
    background-image: url(/static/image/triangle.png);
    background-size: cover;
    background-position: center center;
    transform: rotate(90deg);
  }
  body header aside .items .item:hover::before {
    opacity: 1;
    transition: 0.7s;
    left: -1.5em;
  }
  body main {
    position: relative;
    margin: 0 0 2em 16em;
  }
  body main #articles {
    position: relative;
    left: 0;
  }
  body main #articles .date {
    display: none;
  }
  body main #articles article {
    padding: 1.5em 0.5em 1em 5em;
    color: #000000;
    border: transparent 1px solid;
    border-left: #eee 3px solid;
    position: relative;
  }
  body main #articles article::before {
    position: absolute;
    left: -0.55em;
    top: 2em;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
    background-image: url(/static/image/triangle.png);
    background-size: cover;
    background-position: center center;
    transition: 0.8s;
    transform: rotate(180deg);
  }
  body main #articles article .title {
    font-size: 1.3em;
  }
  body main #articles article .summary {
    font-size: 0.8em;
    line-height: 1.5;
    border-top: #ccc 1px solid;
    padding-top: 3px;
    margin-bottom: 7px;
  }
  body main #articles article time {
    float: right;
    position: absolute;
    z-index: 0;
    left: 0.7em;
    top: 2.5em;
    font-size: 0.8em;
    color: #968c8c;
  }
  .border::before {
    transform: rotate(90deg) !important;
  }
}
