{% extends "article/main.html" %}
{% block main %}
<main>
    <div id="articles">
        {% for year in timelist %}
        <div class="single-year">
            <div class="date year">
                <span>
                    {{ year.date.year }}
                </span>
            </div>
            {% for month in year.months %}
            <div class="single-month">
                <div class="date month">
                    {{ month.date.month }}月
                </div>
                <div class="articles">
                    {% for article in month.articles %}
                    <article>
                        <div class="title">
                            <a href="{% url 'article:get_article' article.slug %}"
                                target="_blank">{{ article.title }}</a>
                        </div>
                        <div class="summary">
                            {{ article.body | striptags | slice:":100" }}...
                        </div>
                        {% if article.corpus %}
                        <div class="corpus" hidden>
                            <a href="{% url 'article:get_corpus' article.corpus %}">{{ blog.corpus }}</a>
                        </div>
                        {% endif %}
                        <time>
                            {{ article.create_time | date:"Y-m-d" }}
                        </time>
                    </article>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</main>
<script>
    (function () {
        function summaryresize() {
            if (window.innerWidth < 767) {
                var summaries = document.querySelectorAll("div.summary");
                for (var i = 0; i < summaries.length; i++) {
                    summaries[i].innerText = summaries[i].innerText.slice(0, 50) + "..."
                }
            }
        }
        summaryresize();
        window.addEventListener("resize", summaryresize);
    })();
</script>
{% endblock %}